@font-face {
  font-family: "graphik";
  src: url("../../assets/GRAPHIK-BOLD-TRIAL.OTF") format("truetype");
}

.carousel {
  position: relative;
  margin: -100;
  z-index: -1;
}

.carousel_section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel p {
  position: absolute;
  bottom: 6rem;
  left: 6rem;
  font-family: graphik;
  /* font-size: 4rem; */
}
